body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  margin-top: 2rem;
  /* Marge de deux espaces en haut */
}

#inputText {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#output {
  margin-top: 1rem;
  font-weight: bold;
}

/* Ajout de règles de responsive design */
@media (max-width: 600px) {
  #inputText {
    width: 100%;
  }
}